body {
  overflow-y: scroll;
}

.app {
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  padding-block: 2rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.main {
  flex: 1;
}

.accordion {
  transition: 0.3s ease;
}

.accordion__item {
  border-top: 0.1rem solid rgba(128, 128, 128, 0.8);
}

.accordion__label {
  cursor: pointer;
}

.accordion__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.accordion__input:checked ~ .accordion__header .accordion__heading {
  color: black;
}

.accordion__input:checked ~ .accordion__content {
  opacity: 1;
  height: auto;
  padding-bottom: 1rem;
  transform: scale(1);
}

.accordion__input:checked ~ .accordion__header .accordion__icon {
  transform: rotate(45deg);
  opacity: 1;
}

.accordion__content {
  opacity: 0;
  height: 0;
  width: 100%;
  margin-inline: auto;
  transform: scale(0.8);
  transform-origin: top;
  transition: transform 0.2s linear;
  max-width: 30rem;
}

.accordion__image {
  display: block;
  width: 100%;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  gap: 0.5rem;
}

.accordion__heading {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  color: blue;
}

.accordion__icon {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background-image: url(.././images/plus-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-block: 2rem;
}

.footer__text {
  font-size: 0.8rem;
  color: gray;
  margin: 0;
  text-align: center;
}

@media (any-hover: hover) {
  .accordion:hover .accordion__heading {
    color: black;
    transition: color 0.3s ease;
  }

  .accordion:hover
    .accordion__input:checked
    ~ .accordion__header
    .accordion__icon {
    transform: rotate(45deg);
    opacity: 1;
  }

  .accordion:hover .accordion__header .accordion__icon {
    opacity: 1;
  }

  .accordion__item:hover .accordion__content {
    opacity: 1;
    height: auto;
    padding-bottom: 1rem;
    transition: all 1s ease;
    transform: scale(1);
  }

  .accordion__item:hover .accordion__header .accordion__icon {
    opacity: 1;
    transform: rotate(45deg);
  }
}

@media (max-width: 820px) {
  .title {
    font-size: 1.7rem;
  }

  .accordion__header {
    padding-block: 0.7rem;
  }
  .accordion__heading {
    font-size: 1.3rem;
    max-width: 25rem;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.5rem;
  }

  .accordion__header {
    padding-block: 0.5rem;
  }
  .accordion__heading {
    font-size: 1.1rem;
    max-width: 16rem;
  }
}
