.app {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 1rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  padding-block: 2rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.main {
  flex: 1;
}

.accordion__item {
  margin-block: 1.2rem;
  position: relative;
}

.accordion__item:hover .accordion__content {
  opacity: 1;
}

.accordion__input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.accordion__input:checked ~ .accordion__content {
  opacity: 1;
}

.accordion__content {
  opacity: 0;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.footer {
  padding-block: 2rem;
}

.footer__text {
  font-size: 0.8rem;
  color: gray;
  margin: 0;
  text-align: center;
}
